<div id="contant">
<div class="midBox1">
  <span><img src="images/c2_i6.png" width="303" height="420" alt="" /></span>
    <div class="midBox1Top">
  <h3>Welcome to the frontpage!</h3>
  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum<br /> dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non<br /> proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <a href="#"><img src="images/c2_i2.png" width="133" height="40" alt="" /></a>
  <a href="#"><img src="images/c2_i3.png" width="84" height="40" alt=""  /></a>
  <a href="#"><img src="images/c2_i4.png" width="93" height="40" alt=""  /></a>
  <a href="#"><img src="images/c2_i5.png" width="101" height="38" alt=""  /></a>		 </div>
  
  <br class="clear" />
 </div>
<div class="midBox2">
 <div class="midBox2L">
  <h2>Where Does It Come From?</h2>
  <h3>Contrary to popular belief, Lorem Ipsum is not<br /> simply random text.</h3>
  <p>It is a long established fact that a reader will be distracted by the <br />readable content of a page when looking at its layout.</p>
 </div>
 <img src="images/c3_i7.png" width="460" height="237" alt="" />
</div>
<div id="footer">
 <div class="footerForm">
 <h3>Lorem Ipsum passages</h3>
  <h4>more recently with desktop publishing</h4>
 <div class="footerFormR">
  <p><label>Name*:</label><input name="Name" type="text" class="footerInputArea" /></p>
  <p><label>Email*:</label><input name="Email" type="text" class="footerInputArea" /></p>
  <p><label>Phone Number:</label><input name="Number" type="text" class="footerInputArea" /></p>
 </div>
 <div class="footerFormR">
  <p><label>Message:</label> <textarea name="" class="footertextarea" rows="2" cols="3"></textarea>
  </p>
     <input name="" type="button" class="footerSubmit" />
 </div>
 <br class="clear" />
 </div>
<p>All the Lorem Ipsum generators on the<br /> Internet tend to repeat predefined chunks as<br /> necessary, making this the first true generator<br /> on the Internet. It uses a dictionary of over<br /> 200 Latin words, combined with a handful of<br /> model sentence structures, to generate Lorem<br /> Ipsum which looks reasonable. The generated<br /> Lorem Ipsum is therefore always free from<br /> repetition, injected humour, or<br /> non-characteristic words etc.</p>
<br class="clear" />
</div>
</div>
