<h1>New message</h1><br>

<form method="post" action="/newmessage">
    Username: <input type="text" name="username"><br><br>
    Country: <input type="text" name="country"><br><br>
    Message: <input type="text" name="message"><br><br>
<input type="submit" value="Submit">
</form><br><br>
